@require "app/styles/charte"


/*
 * App
 */
body
	background: $dark
	display: block
	box-sizing: border-box
	font-size: 1.5vh
	cursor: url(/images/pointer.cur), pointer

#app
	background: $dark
	background-size: 100vh
	background-position: center
	color: $red
	height: 100vh
	color: $silver
	display: flex
	flex-direction: column
	overflow:hidden
