@require "app/styles/charte"

#logout
	margin: 5vh auto
	width: 80%
	text-align: center

	&-title
		margin: 5vh auto
		font-size: 5vh

	&-text
		font-size: 3vh
		margin: 4vh auto

// Responsive mobile
@media (orientation: portrait)
	#logout
		width: 90%

		&-title
			font-size: 4vh
			line-height: 3vh
			margin: 3vh auto

		&-text
			font-size: 2.5vh
			margin: 3vh auto

		.confirm
			font-size: 3.5vh
