@require "app/styles/charte"

#start
	padding: 10vh 0
	font-size: 5vh
	height: 80vh
	text-align: center

	.short
		width: 90%
		margin: 3vh auto

	.long
		width: 90%
		margin: 3vh auto

	.red
		color: $red
		width: 90%
		margin: 3vh auto

// Responsive mobile
@media (orientation: portrait)
	#start
		font-size: 3vh
		padding: 4vh 0
		line-height: 3vh
