// @require "app/styles/charte"
//
// #restart
// 	margin: 5vh auto
// 	width: 80%
// 	border: 1px solid $light-blue
// 	text-align: center
//
// 	&-text
// 		font-size: 5vh
// 		margin-top: 5vh
//
// 	&-warning
// 		font-size: 4vh
// 		color: $red
// 		margin-top: 5vh
//
// 	&-yesNo
// 		font-size: 5vh
// 		margin: 7vh
//
// 		.confirm
// 			border: 2px solid $silver
// 			margin: 0 1.5vh
// 			padding: .5vh 2vh
// 			background: $dark
// 			transition: color .5s, background .5s, border .5s
//
// 			&:hover
// 				border-color: $red
// 				color: $red
// 				background: $light-blue
// 				cursor: url(/images/hover.cur), pointer
