@require "app/styles/charte"

#profil-info
	text-align:center
	font-size:5vh
	height:50px
	width:100%
	padding:3vh
	margin-bottom:2%


#admin-access
	text-align:center
	font-size:3vh
	padding:1%

#profil-description
	font-size:3vh
	border:2px solid white
	margin-right:2%
	margin-left:2%
	text-align:center
	background-color: $blue

 #game-list
	margin: auto
	width: 60%
	height: 50vh
	overflow: hidden
	border: 5px solid
	padding:2vh
	margin-top:2%
	text-align: center

.profil
	display: flex


@media (orientation: portrait)
	// Responsive mobile
