@require "app/styles/charte"

#admin-info
	text-align:center
	font-size:5vh
	height:50px
	width:100%
	padding:3vh
	margin-bottom:2%

#admin-block
	padding: 5px

#admin-text
	font-size: 1.3em

#admin-input
	width: 18em
	height: 2em
	margin-top: 10px

#admin-noresult
	font-size: 1.5em
	color: $red
	padding-top: 10px

@media (orientation: portrait)
	// Responsive mobile
